body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

#message {
 
}

button {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}


#startBtn { left: 20px; }
#resetBtn { right: 20px; }